body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
#container {
  background: white;
  max-width: 860px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}
#state-message {
  max-width: 860px;
  margin: 20px auto 16px;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}
#container h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
#container h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
#container p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
#container a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
#container button {
  display: inline;
  text-align: center;
  background: #039be5;
  border: 0px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
#container input {
  padding: 10px 16px;
  border: 1px solid grey;
  border-radius: 4px;
}

#container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#little-message {
  color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 13px;
}
@media (max-width: 600px) {
  body, #container { margin-top: 0; background: white; box-shadow: none; }
  body { border-top: 16px solid #ffa100; }
}
#controls {
  text-align: center;
}
#media {
  display: grid;
  grid-template-columns: 48% 48%;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.stream-box {
  border: 1px solid grey;
  margin: 20px;
  /* padding: 10px; */
  height: 300px;
  width: 400px;
}
#local-stream {
  width: 400px;
  height: 300px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#remote-stream {
  width: 400px;
  height: 300px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#happy-message {
  background: rgb(210, 241, 208);
}
#indifferent-message {
  background: rgb(241, 239, 208);
}
#sad-message {
  background: rgb(241, 216, 208);
}
.message-box {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-width: 560px;
  margin: 10px auto 10px;
  padding: 24px 24px;
  border-radius: 3px;
  display: none;
}